<!DOCTYPE html>
<html>
<head>
	<title>Familia IA</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
	<!--<button class="analis" onclick="callAPI()">Click para ejecutar analisis</button>-->
	<div class='container timeline'>
		<div class='row'>
			<div class='col s12 m10 offset-m1 l8 offset-l2 center-align'>
				<form enctype='multipar/form-data' class='form-upload' id='formUpload'>
					<div id='fileName' class='fileUpload btn btn-flat cyan'>
						<span><i class='fa fa-camera' aria-hidden='true'></i>Subir archivo</span>
						<input name='picture' id='file' type='file' class='upload' onchange="toggleButtons()"/>
					</div>
					<button id='btnUpload' type='button' class='btn btn-flat cyan hide' onclick="onsmt()">Subir</button>
					<button id='btnCancel' type='button' class='btn btn-flat red hide' onclick="cancel()"><i class='fa fa-times' aria-hidden='true'>Cancelar</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class=""></div>
		</div>
		<div class='row'>
			<div id="tabs">
			  	<ul>
			  		<li><a href="#tabs-1">Imagen</a></li>
			  		<li><a href="#tabs-2">Identificación de marcas</a></li>
			    	<li><a href="#tabs-3">Informe de planometria</a></li>
			    	<li><a href="#tabs-4">Texto</a></li>
			    	<li><a href="#tabs-5">Precios</a></li>
			  	</ul>
			  	<div id="tabs-1" class="center">
			    	<!--<img id="img" class="img">-->
			 	</div>
			 	<div id="tabs-2" class="center">
			    	<div class="left">
			    		<img id="img" class="img">
			    	</div>
			    	<div class="left" id="logoTabla"></div>
			    	<div class="clear"></div>
			 	</div>
			 	<div id="tabs-3" class="center">
			    	<div class="left" style="width: 60%">
			    		<img src='/familia4.jpg' style="width: 85%">
			    	</div>
			    	<div class="left">
			    		<table border="1">
			    			<tr>
			    				<td><b>Marca</b></td>
			    				<td><b>%</b></td>
			    			</tr>
			    			<tr>
			    				<td>Familia estilo</td>
			    				<td>20%</td>
			    			</tr>
			    			<tr>
			    				<td>Familia acolcha max</td>
			    				<td>60%</td>
			    			</tr>
			    			<tr>
			    				<td>Exito lujo</td>
			    				<td>5%</td>
			    			</tr>
			    			<tr>
			    				<td>Exito</td>
			    				<td>10%</td>
			    			</tr>
			    			<tr>
			    				<td>Suave Gold</td>
			    				<td>5%</td>
			    			</tr>
			    		</table>
			    	</div>
			    	<div class="clear"></div>
			 	</div>
			 	<div id="tabs-4" class="center">
			    	
			 	</div>
			 	<div id="tabs-5" class="center">
			    	
			 	</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>