<!DOCTYPE html>
<html>
<head>
	<title>Familia IA</title>
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
	<!--<button class="analis" onclick="callAPI()">Click para ejecutar analisis</button>-->
	<div class='container timeline'>
		<div class='row'>
			<div class='col s12 m10 offset-m1 l8 offset-l2 center-align'>
				<form enctype='multipar/form-data' class='form-upload' id='formUpload'>
					<div id='fileName' class='fileUpload btn btn-flat cyan'>
						<span><i class='fa fa-camera' aria-hidden='true'></i>Subir archivo</span>
						<input name='picture' id='file' type='file' class='upload' onchange="toggleButtons()"/>
					</div>
					<button id='btnUpload' type='button' class='btn btn-flat cyan hide' onclick="onsmt()">Subir</button>
					<button id='btnCancel' type='button' class='btn btn-flat red hide' onclick="cancel()"><i class='fa fa-times' aria-hidden='true'>Cancelar</button>
				</form>
			</div>
		</div>
		<div class='row'>
			<div id="tabs">
			  	<ul>
			  		<li><a href="#tabs-1">Imagen</a></li>
			    	<li><a href="#tabs-2">Logo</a></li>
			  	</ul>
			  	<div id="tabs-1" class="center">
			    	<img id="img" class="img">
			 	</div>
			 	<div id="tabs-2" class="center">
			    	
			 	</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript">
		function toggleButtons(){
			document.getElementById('fileName').classList.toggle('hide');
			document.getElementById('btnUpload').classList.toggle('hide');
			document.getElementById('btnCancel').classList.toggle('hide');
		}

		function cancel(){
			toggleButtons();
			document.getElementById('formUpload').reset();
		}

		function onsmt(){
			var data = new FormData(document.getElementById('formUpload'));
			fetch('/api/pictures',{method: "POST", body: data})
			.then(res=>res.json())
			.then(picture=>{
				let image = picture.fileName;
				document.getElementById('img').src = image;
				let data2 = new FormData();
				data2.append("image", image);
				return fetch('/api/textRecognize', {
								method: 'POST',
								headers: {
									'Accept': 'application/json, text/plain, */*',
    								'Content-Type': 'application/json'
								},
								body: JSON.stringify({
									image: image
								})
							});
			})
			.then(res=>res.json())
			.then(response=>{
				var table = `
				<table>
					<tr>
						<td>Marca</td>
						<td>Confiabilidad</td>
					</tr>
				`;
				if(typeof response[0].logoAnnotations === 'undefined'){
					table += `
					<tr>
						<td colspan='2' align='center'><i>No he podido identificar ninguna marca</i></td>
					</tr>
					`;
				}else{
					for (let i = 0; i < response[0].logoAnnotations.length; i++) {
						table += `
						<tr>
							<td>${response[0].logoAnnotations[i].description}</td>
							<td>${Math.round(response[0].logoAnnotations[i].score * 100)}%</td>
						</tr>
						`;
					}
				}
					
				table += "</table>";
				document.getElementById("tabs-2").innerHTML = table;
			})
			.catch(err=>console.log(err));
		}
	</script>
</body>
</html>